.table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  font-size: 1.2rem;
}

.table td {
  padding: 10px 10px;
  text-align: left;
}

.table th {
  padding: 5px 10px;
  text-align: left;
  background-color: var(--red-dark);
  color: var(--grey);
}

